beautifulsoup4==4.8.2
bs4==0.0.1
Flask==1.1.2
gensim==3.8.1
h5py==2.10.0
joblib==0.14.1
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
protobuf==3.11.3
python-dateutil==2.8.1
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-hub==0.8.0
tqdm==4.45.0
wrapt==1.12.1
